{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel = 'stylesheet' href = "{% static 'explorer/styles.css' %}">
    <script></script>
</head>
<body>
    <h1>Testing</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" name="images" multiple>
        <!-- {{ form.as_p }} -->
        <input type="submit">
    </form>
    {% if images %}
    <h2>Successfully uploaded:</h2><br>
    {% endif %}
    {% for img in images %}
    <img src="{{ img.image.url }}" alt="Image" style="max-height: 100px;">
    <br>
    Uploaded to: {{img.image.url}}
    <br>
    {% endfor %}

    <br>
    <a href="{% url 'explorer:show' %}">Show current images</a>

</body>
</html>
