.u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1 .u-image-1 {
  width: 677px;
  height: 553px;
  margin: 45px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -547px auto 0 80px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -65px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 72px;
  margin: 53px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 262px;
  grid-template-columns: 100%;
  grid-gap: 43px 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-shape-1 {
  height: 39px;
  background-image: none;
  animation-timing-function: ease-in;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-shape-2 {
  height: 39px;
  background-image: none;
  animation-timing-function: ease-in;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-shape-3 {
  height: 39px;
  background-image: none;
  animation-timing-function: ease-in;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -249px auto 0 80px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 70px auto 0 80px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 70px auto 0 72px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 87px auto 0 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  margin-left: 0;
  width: 16px;
  height: 22px;
  font-size: 1rem;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    min-height: 262px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 441px;
    margin-top: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -467px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -70px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -277px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 278px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -447px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -38px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 0;
  }
}

 .u-section-1:not([data-block-selected]):not([data-cell-selected]),
 .u-section-1:not([data-block-selected]):not([data-cell-selected]):before,
 .u-section-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

 .u-container-layout:hover .u-section-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover  .u-section-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}